* {
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
}

#container {
  border: 1px solid rgb(249, 249, 250);
  background-image: url(/assets/Screenshot\ teste.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1400px;
  padding: 15px;
  max-height: 1400px;
  gap: 30px;
}

figcaption {
  position: relative;
  top: -200px;
  right: -5px;
  font-size: 3vh;
  color: rgb(250, 4, 4);
  text-shadow: 0px 0px 5px black;
}

h1 {
  color: black;
}

h3,
p {
  color: gold;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.logo {
  width: auto;
}

.logo-pf {
  width: 120px;
  height: 160px;
}

.div-image {
  width: 100%;
}

.background-image {
  height: 200px;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

/* home */

.recrutamento {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}
.recrutamento-right {
  width: 300px;
  text-align: justify;
  display: flex;
  justify-content: end;
}
/* news */
iframe {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

.news {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 10px;
}

/* contato */
.mapa {
  max-height: 500px;
  max-width: 500px;
  border-radius: 20px;
}

.address {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

address {
  width: 300px;
  text-align: justify;
}

/* menu */
section {
  display: flex;
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: Arial;
}

.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
}

.tablink:hover {
  background-color: #777;
}

.tabcontent {
  color: white;
  display: none;
  padding: 100px 20px;
  height: 800px;
  overflow: auto;
}

#Home {
  background-color: rgba(0, 0, 0, 0.377);
  width: 100%;
}

#Curso {
  background-color: rgba(0, 0, 0, 0.377);
  width: 100%;
}

#News {
  background-color: rgba(0, 0, 0, 0.377);
  width: 100%;
}

#Contact {
  background-color: rgba(0, 0, 0, 0.377);
  width: 100%;
}

#About {
  background-color: rgba(0, 0, 0, 0.377);
  width: 100%;
}

/*footer*/
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 15px;
  background-color: orange;
  border-radius: 20px;
}

.copyright-paragraph {
  color: black;
  text-transform: uppercase;
  font-weight: 500;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.5vh;
}
.copyright {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.logo-copyright {
  width: 5vh;
  height: 5vh;
}

nav {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.logo-link {
  display: flex;
  width: 4vh;
  height: 4vh;
}

/* flip card*/
.flip-card {
  background-color: transparent;
  width: 250px;
  height: 250px;
  perspective: 1000px;
  border-radius: 10px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 10px;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
  border-radius: 10px;
}

.flip-card-back {
  background-color: #2980b9;
  color: white;
  transform: rotateY(180deg);
  border-radius: 10px;
}

.img-avatar {
  height: 250px;
  width: 250px;
  border-radius: 10px;
}

.equipe {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

@media only screen and (max-width: 800px) {
  header {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .mapa {
    height: 300px;
    width: 300px;
  }
 .recrutamento {
  justify-content: center;
 }
 .address  {
  justify-content: center;
 }
}